<h3>Cadastro de Usuario</h3>
<form id="myform" #f="ngForm" (ngSubmit)="addUsuario()">
    <div class="col-6" *ngIf="user.id">
        <label>ID</label>
        <input id="id" name="id" [(ngModel)]="user.id" class="form-control" type="number" readonly>
    </div>
    <div class="col-6">
        <label>Nome</label>
        <input id="nome" name="nome" [(ngModel)]="user.nome" class="form-control" type="text">
    </div>
    <div class="col-6">
        <label>Idade</label>
        <input id="idade" name="idade" [(ngModel)]="user.idade" class="form-control" type="text">
    </div>
    <div class="col-6">
        <label>Perfil</label>
        <input id="perfil" name="perfil" [(ngModel)]="user.perfil" class="form-control" type="text">
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>