<div class="container">
    <div class="row">
        <div class="col col-12">
            <p>main works!</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-12">
            <app-listar-usuario></app-listar-usuario>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-6">
            <app-cadastro-usuario></app-cadastro-usuario>
        </div>
    </div>
</div>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col col-6">
            <input [(ngModel)]="numberChoose" type="number" id="numberChoose" name="numberChoose">
            <br>
            <br>
            <input [(ngModel)]="stringChoose" type="text" id="stringChoose" name="stringChoose">
            <br>
            <br>
            <app-lista-usuarios-admin [buscarString]="stringChoose!"
                [buscarNumber]="numberChoose!"></app-lista-usuarios-admin>
        </div>
    </div>
</div>